*, html{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
body{
	opacity: 0;
}
/*.scroll-item{
	opacity: 0;
}*/
.separator{
	padding: 150px 80px;
	height: 100%;
}
.separator-wrapper-top{
	padding: 200px 130px;
	height: 100%;
}
.separator-wrapper{
	padding: 150px 130px;
	height: 100%;
}
.separator-footer{
	padding: 220px 130px;
	height: 100%;
}
.full-screen{
	width: 100vw;
	height: 100vh;
}
.background-black{
	background-color: #0d0d0d;
}
.background-white{
	background-color: #FFF;
}
.background-peach{
	background-color: #D7765D;
}
.background-gray{
	background-color: #F6F6F6;
}
.site-container{
	display: block;
	width: 100%;
	height: auto;
}
/*Section header*/
.section-header{
	padding: 35px 130px;
}
.section-header .nav-bar{
	z-index: 10;
	box-shadow: unset;
}
.section-header .nav-bar .midnightInner{
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 20px 130px;
}
.section-header .nav-bar .midnightInner *{
	display: inline-flex;
}
.section-header .nav-bar .midnightInner .btn-menu{
	align-self: center;
}
.section-header nav.nav-bar  .midnightInner a.button-collapse{
	display: block;
}
/* Start styles for Midnight JS */
.midnightHeader.default{
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 20px 130px;
}
.midnightHeader.white{
	background-color: #ccc;
}
/*End styles for Midnight JS*/
.section-header .background-text{
	position: absolute;
	z-index: 2;
	color: #1d1d1d;
	font-weight: bold;
	font-size: 15em;
	right: 10vw;
	margin-top: 35vh;
}
.section-header .left-black-box{
	position: absolute;
	z-index: 3;
	display: flex;
	width: 60%;
	height: 100vh;
	margin-top: 15vh;
	top: 0;
	left: 0;
	background-color: #141414;
}
.section-header .left-black-box .cont-text{
	padding: 200px 130px;
	flex-direction: column;
	color: #fff;
	justify-content: center;
}
.section-header .left-black-box .cont-text h1{
	font-size: 50px;
	font-weight: 300;
	margin-top: 0;
}
.section-header .left-black-box .cont-text small{
	font-size: 11px;
	align-self: flex-start;
	font-weight: 100;
	color: #ccc;
}
/*Section intro*/
.section-intro{
	display: flex;
	flex-direction: row;
}
.section-intro .panel-left{
	width: 45%;
	height: 100vh;
}
.section-intro .panel-right{
	width: 55%;
	height: 100vh;
	padding: 50px 130px;
}
.phrase{
	line-height: 1.6;
}

/*Section projects*/
.section-projects .header > *{
	display: block;
}
.section-projects .header small{
	text-transform: uppercase;
}
.grid-projects{
	margin-top: 125px;
}
/* Grid Masonry */
.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
  width: 100%;
  border-radius: 0;
  box-shadow: unset;
}
.cards-container .card.big-box{
	height: 650px;
}
.cards-container .card.small-box{
	height: 300px;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
/*Section Blocks*/
.section-blocks{
	width: 100vw;
	height: auto;
}
.container-blocks{
	position: relative;
}
.container-blocks .black-block{
	width: 75vw;
	height: 50vh;
}
.container-blocks .peach-block{
	width: 100vw;
	height: 90vh;
}
.container-blocks .white-block{
	width: 100vw;
	height: 50vh;
}
.container-blocks .black-text-block{
	position: absolute;
	bottom: 15vh;
	right: 0;
	width: 70vw;
	height: 75vh;
	color: #666;
	padding: 100px 230px;
}
.container-blocks .black-text-block ul{}
.container-blocks .black-text-block ul li{
	display: flex;
}
.container-blocks .black-text-block ul li small{
	align-self: flex-end;
	margin-bottom: 1.368rem;
	font-size: 100%;
	margin-right: 10px;
}
.container-blocks .black-text-block ul li h3{
	margin-top: 0;
}



/* _______________ We are */
.section-intro-we{
	position: relative;
	width: 100vw;
	height: 90vh;
}
.section-intro-we .container-text{
	width: 55vw;
	height: 100%;
}
.section-intro-we .container-image{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 45vw;
	height: 100vh;
}
.section-image-gray{
	width: 100vw;
	height: 75vh;
}
.section-image-gray .container-image-gray-we{
	width: 75vw;
	height: 75vh;
	margin-left: 3vw;
}
.section-image-black{
	position: relative;
}
.section-image-black .container-image-peach-we{
	position: absolute;
	top: 15vh;
	left: 0;
	width: 45vw;
	height: 100vh;
}


